<div class="table">
  <div class="header">
    <div>
      <p>Recorded On</p>
    </div>
    <div>
      <p>Summary</p>
    </div>
    <div>
      <p>Intensity</p>
    </div>
    <div>
      <p>Amount</p>
    </div>
    <div>
      <p>Calories</p>
    </div>
  </div>
  <div *ngFor="let record of records">
    <div>
      <p>{{ record.recorded | date:'dd MMM yyyy HH:mm' }}</p>
    </div>
    <div>
      <p>{{ record.summary }}</p>
    </div>
    <div>
      <p>{{ record.intensity }}</p>
    </div>
    <div>
      <p>{{ record.amount }}</p>
    </div>
    <div>
      <p>{{ record.calories }}</p>
    </div>
  </div>
  <div class="footer">
    <div>
      <span>Footer!</span>
    </div>
  </div>
</div>