div.page {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

h1 {
  margin: 0;
  color: green;
}

header {
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1em;
  background-color: #fff;
  box-shadow: 0 0 1em 0 rgba(0,0,0,.4);

  section {
    flex: 0 1 60%;
  }
}

main {
  flex-grow: 1;
  max-height: calc(100vh - 50px);
  overflow-y: auto;
}

footer {
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  box-shadow: 0 0 1em 0 rgba(0,0,0,.4);
  font-size: .75rem;
}