ul {
  display: flex;
  list-style-type: none;
  margin: 0;

  li {  
    a {
      padding: .25em .5em;
      text-decoration: none;
      border-bottom: 3px solid transparent;

      &.active {
        border-bottom-color: green;
      }
    }
  }
}